* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: #055357;
    text-align: center;
    padding: 45px 0;
    font-size: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px;
}

.paperbit-logo {
    width: 100px;
    border-radius: 50%;
}

.container {
    display: flex;
}

.navbar {
    width: 30%;
    background-color: white;
    padding: 30px;
}

.content {
    color: #055357;
    width: 70%;
    background-color: #D1D4C3;
    padding: 30px;
    border-radius: 10px; 
    margin-right: 10px ;
}

h1 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 15px;

}

.last-p {
    margin-bottom: 200px;
}

.footer {
    background-color: rgb(189, 187, 187);
    text-align: center;
    padding: 20px 0;
    color: rgb(129, 129, 129);
}

.buttons-list {
    list-style: none;
}

.buttons-list li {
    margin: 5px ;
}

.buttons-list li button {
    background-color: #01838a;
    padding: 7px 30px;
    border-radius: 30% 0% 30% 0;
}

.buttons-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.quem-somos {
    width: 500px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px;
}

.servicos-oferecidos {
    width: 500px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px;
}
 
.produtos {
    width: 170px;
    margin-left: 37%;
    margin-bottom: 15px;
    box-shadow: 0 0 20px;
}
 


